.cartOverlay {
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 68px;
}

.Cart {
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  padding: 2rem;
  padding-bottom: 78px;
  max-height: 70vh;
  overflow-y: auto;
}
