.cartOverlay {
  z-index: 3;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding-bottom: 68px;
  transition: var(--transition);
}

.Cart {
  min-width: 390px;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  padding: 2rem 0;
}

.cartItemsWrapper {
  max-height: 45vh;
  overflow-y: auto;
}

.clearAllBtnWrapper {
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    top: -50px;
    pointer-events: none;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }
}

.clearAllBtn {
  position: relative;
  font-size: 13px;
  font-weight: 300;
  border: none;
  padding: 0;
  background-color: transparent;
  &::after {
    content: "";
    position: absolute;
    background-color: var(--bs-danger);
    height: 1px;
    bottom: 2px;
    left: 0;
    right: -1px;
  }
}

.payNowBtn {
  border-radius: 24px;
}
