.Footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  // background-color: rgba(248, 248, 248, 0.4);
  background: linear-gradient(0deg, rgba(248, 248, 248, 0.9) 0%, rgba(248, 248, 248, 0) 100%);
}
