@import "~bootstrap-icons/font/bootstrap-icons.scss";

body,
html {
  background-color: #f8f8f8;
}

* {
  outline: none;
}

button.btn,
a.btn,
input {
  box-shadow: none !important;
}

:root {
  --transition: all 180ms 50ms ease-out;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.fadeIn {
  animation: fadeIn 600ms 50ms ease-out forwards;
}

.fadeOut {
  animation: fadeIn 300ms 50ms ease-out reverse forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 24px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.appear {
  animation: appear 170ms ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
