.Navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  padding-top: 4vw;
  padding-left: 6vw;
  padding-right: 6vw;
  & h1 {
    font-weight: 600;
    font-size: 24px;
  }
}

.menuButton {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  font-size: 24px;
}
