.Navbar {
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 0;
  padding-left: 6vw;
  padding-right: 6vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
  & h1 {
    font-weight: 600;
    font-size: 24px;
  }
}

.logoWrapper {
  border-radius: 50%;
  bottom: -61px;
  z-index: -1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
}
